name: Deploy

on:
  push:
    tags:
      - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Convert *.gmi to *.html
        run: |
          curl -sO https://notabug.org/tinyrabbit/gmi2html/raw/master/gmi2html
          chmod +x gmi2html
          find pub/gmi/* -type d | sed 's_/gmi/_/htm/_' | xargs mkdir -p
          for i in **/*.gmi;do
            o="$(echo "${i/\.gmi/.html}" | sed 's_/gmi/_/htm/_')"
            ./gmi2html "$i" > "$o"
          done
          rm gmi2html
      - name: Archive html + gmi files into tar
        run: |
          tar zcvf htm.tar.gz ./pub/htm
          tar zcvf gmi.tar.gz ./pub/gmi
      - name: Upload files
        run: |
          curl -s --oauth2-bearer "${{ secrets.SH_TOKEN }}" \
               -F "content=@htm.tar.gz" \
               "https://pages.sr.ht/publish/${{ secrets.SH_USER }}.srht.site" \
          && echo "published: https://${{ secrets.SH_USER }}.srht.site"
          curl -s --oauth2-bearer "${{ secrets.SH_TOKEN }}" \
               -F "content=@gmi.tar.gz" \
               -F "protocol=GEMINI" \
               "https://pages.sr.ht/publish/${{ secrets.SH_USER }}.srht.site" \
          && echo "published: gemini+https://${{ secrets.SH_USER }}.srht.site"
